.book {
    position: relative;
    border-radius: 10px;
    width: 220px;
    height: 300px;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
  }
  
  .cover {
    top: 0;
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
  }
  
  p {
    font-size: 20px;
    font-weight: bolder;
  }



  /*...............................carrousel ............................*/

  .carrousel {
    width: 900px;
    height: calc(600px - 150px);
    margin: auto;
    overflow: hidden;
    font-size: 0;
    position: relative;
    text-align: left;
  }
  .carrousel .screens {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    width: 900px;
    height: 600px;
    position: relative;
    transform: translate(0%, -30%);
  }
  .carrousel .screens > li {
    width: 0%;
    height: 100%;
    width: 50%;
    height: 50%;
    display: inline-block;
    font-size: 15px;
    overflow: hidden;
    background: #bbb;
    border-radius: 10px;
    opacity: 0;
    filter: blur(5px);
    cursor: pointer;
    position: absolute;
    bottom: 0;
    transform: translate(50%, 0);
    transition: all 0.7s;
    pointer-events: none;
  }
  .carrousel .screens > li:hover {
    filter: none;
    opacity: 1;
  }
  .carrousel .screens > li.active {
    opacity: 1;
    filter: none;
    width: 70%;
    height: 70%;
    z-index: 100;
    transform: none;
    transform: translate(20%, 0);
  }
  .carrousel .screens > li.active,
  .carrousel .screens > li.left,
  .carrousel .screens > li.right {
    pointer-events: all;
  }
  .carrousel .screens > li.left,
  .carrousel .screens > li.right {
    transform: translate(0%, 0);
    opacity: 0.5;
  }
  .carrousel .screens > li.left {
    transform: translate(0%, 0);
  }
  .carrousel .screens > li.right {
    transform: translate(100%, 0);
  }
  .carrousel .screens > li p {
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: left;
    display: flex;
    height: 100%;
    color: #f2ef50;
    font-size: 20px;
    pointer-events: none;
  }
  .carrousel .pagination {
    list-style: none;
    padding: 5px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .carrousel .pagination li {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 5px;
    opacity: 0.3;
    cursor: pointer;
    background: #000;
    border-radius: 100%;
    transition: all 0.2s;
    background-size: cover;
    background-position: center;
  }
  .carrousel .pagination li:hover,
  .carrousel .pagination li.active {
    opacity: 1;
  }
  #s1 {
    background-image: url("../assets/img/pizarra1.jpg");
    background-size: cover;
    background-position: center;
  }
  #s2 {
    background: rgb(3,4,111);
background: linear-gradient(153deg, rgba(3,4,111,1) 0%, rgba(60,137,149,1) 73%, rgba(234,238,173,1) 100%);
    
    /*background-image: url(https://doocode.xyz/res/img/backgrounds/DCG33.png);*/
    background-size: cover;
    background-position: center;
    
  }
  #s3 {
    background-image: url(https://phantom-marca.unidadeditorial.es/89b4dccd0e4c1e4381eeddacc01e8572/resize/1320/f/jpg/assets/multimedia/imagenes/2021/10/07/16336130094614.jpg);
    background-size: cover;
    background-position: center;
  }
  #s4 {
    background-image: url(https://image.spreadshirtmedia.net/image-server/v1/products/T1459A839PA4459PT28D16085658W10000H4806/views/1,width=550,height=550,appearanceId=839,backgroundColor=F2F2F2/evolution-student-sticker.jpg);
    background-size:100% 100%;
    background-position: center;
    align-content: center;
    text-align: center;
  }
  #s5 {
    background-image: url(https://img.freepik.com/foto-gratis/arreglo-geometrico-formas-3d_23-2149049003.jpg?w=1060&t=st=1681276333~exp=1681276933~hmac=c650fd7e653d09c7f99523e49af0eb8bc725e6eb902f80c93186e04e411d4fa8);
    background-size: cover;
    background-position: center;
    margin: 2rem;
  }
  #s6 {
    background-image: url(https://i.ytimg.com/vi/riqswI-kBoI/maxresdefault.jpg);
    background-size: 90% 70%;
    background-repeat: no-repeat;
    background-position: center;
  }
  #s7 {
    background-image: url(https://www.lucaedu.com/wp-content/uploads/2022/11/que-es-una-biblioteca-virtual.jpg);
    background-size: cover;
    background-position: center;
  }

  #s1 .def1{
    width: 44%;
    margin: 2rem;
    text-align: justify;
    height: 350px;
    color: aliceblue;
    

  }
  #s2 .genral{
    display: flex;
    width: 100%;
    height: 100%;
  }
  #s2 .genral .c1,.c2{
    width: 50%;
    
  }
  #s2 .genral .c1{
    
    height: 100%;

  }
  #s2 .genral .c1 .def2{
    color: #ffffff;
    margin: 2rem;
    text-align: justify;
    height: 80%;
  }

  #s2 .genral .c2{
   /* background-image: url(https://doocode.xyz/res/img/backgrounds/DCG33.png);
    */
    
    background-size: cover;
  }

  #s2 .genral .c2 .imgc2{
    margin-top: 10rem;
    width: 100%;
    height: 50%;
    border-radius: 20% 10% 20% 10%;

  }

  #s3 .def3{
    font-size: 12px;
    color: #000;
    height: 118%;
    width: 80%;
    margin-left: 1.5rem;

  }

  #s4 .def4{
    width: 98%;
    height: auto;
    color: #000;
    margin: 3rem ;
    
  }

  #s5 .def5{
    color: #ffffff;
    height: 50%;
    width: 50%;
    margin: 2rem;
  }

  #s6 .def6{
    color: #000;
    height: 10%;
    margin: 10px 10px;
    text-align: center;
  }

  #s7 .def7{
    width: 40%;
    height: 50%;
    margin: 5px;
    color: #73166d;
  }

