.grupo {
    display: flex;
    align-content: center;
    width: 80%;
    margin: 2rem auto;
    border-radius: 10px;
    background: rgb(234, 234, 250);
    background: linear-gradient(153deg, rgba(234, 234, 250, 1) 0%, rgba(211, 233, 244, 1) 42%, rgba(221, 229, 247, 1) 100%);
}

.grupo .ventajas,
.desventajas {
    width: 48%;
    text-decoration: none;
    margin: 1rem;
    padding: 5px;
}

.grupo .ventajas {
    border-radius: 12px;
    background: rgb(126, 127, 223);
    background: linear-gradient(153deg, rgba(126, 127, 223, 1) 0%, rgba(98, 186, 230, 1) 42%, rgba(138, 159, 22, 1) 100%);


}

.grupo .desventajas {
    border-radius: 12px;
    background: rgb(126, 127, 223);
    background: linear-gradient(153deg, rgba(126, 127, 223, 1) 0%, rgba(98, 186, 230, 1) 42%, rgba(138, 159, 22, 1) 100%);

}

.grupo .tgrupo {
    font-size: 20px;
    text-align: center;
    font-weight: 700;


}

.grupo ul li {
    list-style-type: circle;
    color: rgb(38, 1, 75);
    font-size: 18px;
    font-weight: 900;
    margin-top: 8px;
    text-align: justify;



}