<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OLiveMath</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!--
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

        -->

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/card.css">
    <link rel="stylesheet" href="../css/rellenos.css">
    <link rel="stylesheet" href="../css/book.css">
    <!--<link rel="stylesheet" href="./css/animationes.css">

    <script src="./js/animationes.js"></script>
    <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>-->
</head>


<body>
    <nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="../index.html">O-Live <img src="" alt=""></a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a href="../index.html">INICIO</a></li>
                    <li><a href="../cursos.html">CURSOS</a></li>
                    <li><a href="../registro.html">REGISTRO</a></li>
                    <li><a href="../login.html">INICIO DE SESIÓN</a></li>
                    <li><a href="../salir.html">CERRAR SESIÓN </a></li>
                    <li><a href="../about.html">ACERCA DE NOSOTROS</a></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>


    <section class="home">
        <h1 class="Titulo_Inicio">Desarrollo de material didáctico-pedagógico para la enseñanza de las matemáticas con
            el uso de las TIC </h1>
        <!-- <div class="titulos">
            <h1 class="TituloGeneral">COMPETENCIAS DEL PROFESORADO EN EL USO DE LAS TIC </h1>
        </div>-->

    </section>


    <div class="titulo_general">
        <h1 class="TituloGeneral">El concepto de material didáctico</h1>


    </div>
    <div class="informacion">
        <div class="subtitulos">
            <h1 class="subtitulosinfo">
                <span class="titulos_title">Caracteristicas del material didáctico </span>
            </h1>

            <p class="parrafos">

                Al momento de incursionar en la búsqueda o elaboración de un material didáctico,
                debemos tomar en cuenta ciertas características fundamentales que no podemos dejar pasar,
                Fernández, Alburquerque y Paredes explican que estas características son:
            </p>
        </div>
    </div>

    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
    <h1></h1>
    <p></p>
    <div class="carrousel">
        <ul class="screens">
            <li id="s1">
                <p>Que sean aprovechados los recursos que ofrecen los diferentes contextos
                    sociales, culturales y geográficos del país, para la realización de actividades, así
                    como para la confección de diversos recursos.</p>
            </li>
            <li id="s2" class="left">
                <p>Que el material elaborado con recursos del medio posibilite que el niño o la
                    niña realice una serie de combinaciones, que le divierta y favorezca su
                    desarrollo físico, cognoscitivo y afectivo.
                    </p>
            </li>
            <li id="s3" class="active">
                <p>Que responda a las tareas concretas del proceso educativo.
                </p>
            </li>
            <li id="s4" class="right">
                <p>Que corresponda con la edad del niño (a) ajustándose a su nivel de desarrollo
                    evolutivo.</p>
            </li>
            <li id="s5">
                <p>Que reflejen claramente sus propiedades y cualidades, por ejemplo: colores
                    vivos, formas agradables.</p>
            </li>
            <li id="s6">
                <p>Que sea resistente, para garantizar su durabilidad. <br>
                    Que sea cómodo de transportar y guardar. <br>
                     Que no ofrezca peligro.
                    </p>
            </li>
            <li id="s7">
                <p> Contar con un repertorio variado y selecto de juegos, juguetes y materiales. <br>
                    Que se posibilite su uso, tanto en actividades individuales como grupales
                    </p>
            </li>
        </ul>
        <div class="pagination"></div>
    </div>


    <nav class="navegacion">
        <ul>
            <li><a href="./actividad2.html">Regresar</a></li>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="./actividad2.html">Siguiente</a></li>
        </ul>
    </nav>


    <!-- Jquery needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../js/script.js"></script>

    <!-- Function used to shrink nav bar removing paddings and adding black background -->
    <script>
        $(window).scroll(function () {
            if ($(document).scrollTop() > 50) {
                $(".nav").addClass("affix");
                console.log("OK");
            } else {
                $(".nav").removeClass("affix");
            }
        });
    </script>

    <script>
        $(function () {
    let current_view = 0;
    let count_views = $(".carrousel .screens li").length;

    // Methodes
    let switch_view = function (id) {
        if (id >= 0 && id <= count_views) current_view = id;
        update_view();
    };
    let init_pagination = function () {
        for (let i = 0; i < count_views; i++) {
            let page = $("<li/>");
            $(page).click(function () {
                switch_view(i);
            });
            $(".carrousel .pagination").append(page);
        }
    };
    let update_view = function () {
        // Calculate the current state
        let view0 = current_view;
        let view1 = current_view + 1;
        let view2 = current_view + 2;
        if (view0 <= 0) view0 = count_views;
        if (view2 > count_views) view2 = 1;
        $(".carrousel .screens li").removeClass("left right");
        $(".carrousel .screens li, .carrousel .pagination li").removeClass(
            "active"
        );
        $(".carrousel .screens li:nth-child(" + view1 + ")").addClass("active");
        $(".carrousel .screens li:nth-child(" + view0 + ")").addClass("left");
        $(".carrousel .screens li:nth-child(" + view2 + ")").addClass("right");
        $(".carrousel .pagination li:nth-child(" + view1 + ")").addClass(
            "active"
        );
    };
    $(".carrousel .screens li").click(function (e) {
        let classes = $(e.target).attr("class");
        if (classes.includes("left")) {
            if (current_view == 0) current_view = count_views - 1;
            else current_view--;
        } else if (classes.includes("right")) {
            if (current_view == count_views - 1) current_view = 0;
            else current_view++;
        }
        update_view();
    });

    init_pagination();
    update_view();
});

    </script>


    <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative to help
                        the
                        upcoming programmers with the code. Scanfcode focuses on providing the most efficient code
                        or
                        snippets as the code wants to be simple. We will help programmers build up concepts in
                        different
                        programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP,
                        Android,
                        SQL and Algorithm.</p>
                </div>

                <div class="col-xs-4 col-md-3">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
                        <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
                        <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
                        <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
                        <li><a href="http://scanfcode.com/category/android/">Android</a></li>
                        <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
                    </ul>
                </div>

                <div class="col-xs-4 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/about/">About Us</a></li>
                        <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                        <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                        <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                        <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved
                        <a href="#"></a>.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>




</body>

</html>